@import 'tailwindcss';

@theme {

}


@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {
    :root {
        --primary: #c6bbff; /* #f87171 */
        --primary-dark: #554688 /* #9c272f */;
        --white: #e8e5e5;
        --input: #2a2c43;
        --input-border: #3e405e;
        --spin-duration: 160s;
    }
    html {
        height: 100%;
    }
    body {
        color: #3e3441;
        min-height: 100%;
    }
    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #root {
        background-color: #fff;
        background: linear-gradient(170deg, rgb(220, 230, 255), rgba(58, 49, 15, 0) 49%);
    }
    h1 {
        @apply text-3xl font-bold;
    }
    h2 {
        @apply text-2xl font-bold;
    }

    #root {
        padding: 0 20px;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100vw); /* Start completely off-screen */
        }
        to {
            transform: translateX(0); /* Move to the final position */
        }
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }


    .slide-in {
        animation: slideIn 300ms ease-out forwards;
    }


    .fade-in {
        animation: fadeIn 1000ms;
    }

    .questions {
        display: grid;
        grid-template-rows: max-content 1fr 100px;
        gap: 20px;
    }

}
